<h1>Book index work in progress</h1>
<p>index area</p>

<h2>New book</h2>

<!--以下投稿フォーム-->

<h4>Title</h4>


<h4>Body</h4>




<%= link_to "Show", "/books/174420" %>
<%= link_to "Edit", "/books/174427/edit" %>