// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index{
  margin: 33px;
}

.title .body{
  margin: 0;
}

h2{
  margin-top: 10px;
  margin-bottom: 10px;
}

.text_field{
  margin-bottom: 10px;
}

.submit{
margin: 0;
}